/* .background-white-glass {
    background: rgba(255, 255, 255, 0.301);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  } */